<div class="container-full">
  <div class="row" id="mainrow">
    <div class="col-md-3" id="newburgers">
      <ul>
      {{#each burgers}}
        <li>
          <p>
          {{this.id}}. {{this.burger_name}}

          <button data-burgerid="{{this.id}}" class="devourburger">Devour</button>
          </p>
        </li>
      {{/each}}
      </ul>
    </div>
    <div class="col-md-4 text-center" id="burgeradd">
    <div id="burgerimage">
    <img src="/assets/img/burger1.png" width="150px" height="150px" class="img-responsive" id="bimage">
    <h4><i>Get Into BurgerZone!!</i></h4>
    </div>
      <form role="form" id="addburger">
        <div class="form-group">
          <label for="burgername"></label>
          <input type="text" class="form-control" id="burgername" placeholder="Add a burger..">
          </div>
        <div class="text-center" id="submitdiv">
          <button type="submit" class="btn btn-primary submit" id="submitbtn">Submit</button>
        </div>
      </form>
    </div>
    <div class="col-md-3" id="devouredburgers">
      <ul>
      {{#each devoured}}
        <li>
          <p>
          {{this.id}}. {{this.burger_name}}
          </p>
        </li>
      {{/each}}
      </ul>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script type="text/javascript">
 
  $("#addburger").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    var newburger = {
      burger: $("#addburger [id=burgername]").val().trim()
    };

    // Send the POST request.
    $.ajax("/api/burgers", {
      type: "POST",
      data: newburger
    }).then(
      function() {
        console.log("added new burger");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $(".devourburger").on("click", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();
    console.log($(this));
    var id = $(this).attr("data-burgerid").trim();
    console.log("logging burgerId");
    console.log(id);

        // Send the PUT request.
    $.ajax("/api/burgers/" + id, {
      type: "PUT"
    }).then(
      function() {
        console.log("updated id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
</script>
